@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

:root {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.scroll-to-top:hover {
  cursor: pointer;
}

/* Drop Down Menu */
.drop-down-menu {
  border: 0 !important;
}

/* hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE/Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* 404 Page Background */
.page404 {
  background-image: url(../public/assets/images/desktop/lisbon/places/lisbon-guide-jeronimos-monestery-bg-2.jpeg)
}

/* Contact */
.contact-details {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url("../public/assets/images/desktop/lisbon/places/lisbon-rua-augusta-bg.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 640px) {
  .drop-down-menu {
    width: 320px !important;
  }

  .explore-card {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 500px) {
  .container-500px {
    padding: 5rem 0.2rem 2rem !important;
  }
}

@media only screen and (max-width: 400px) {
  .reviews  {
   margin-top: -150px;
  }

  .reviews .reviews-card {
    padding: 0 15px !important;
  }

  .reviews .reviews-image {
    width: 90px;
    height: 90px;
  }

  .reviews .reviews-card p {
    font-size: 14px !important;
  }
}